/* reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
body {
    background-attachment: fixed;
    background-image: url('https://i.pinimg.com/originals/4d/a5/3d/4da53d8fcc52f78a6dcdb964f4683149.jpg'); 
    background-repeat: round;
    font-family: 'Inconsolata', monospace;
    height: 100vh;
  }
  /* se a tela tiver pelo menos 400px vai carregar esses estilos */
  @media (min-width: 400px) {
    body {
      font-size: 14px;
    }
  }
  header {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
  }
  .menu {
    background-color: black;
    position: fixed;
    width: 100vw;
    top: 0;
  }
  .menu ul {
    display: flex;
    justify-content: space-around
  }
  .menu li{
    list-style: none;
  }
  .menu a {
    display: block; 
    padding: 10x 10x;
    box-shadow: rgb(56, 56, 56) 0px 2px 7px;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .site-subtitle, .site-title{
    color: snow;
    text-align: center;
  }
  .site-title {
    font-family: 'Rock Salt', cursive;
    font-size: 30px;
  }
  .site-subtitle {
    font-family: 'Forum', cursive;
    font-style: italic;
  } 
  .portfolio {
    padding: 1em;
    color: rgba(255, 255, 255, 0.87);
  }
  .portfolio h2 {
    color: white;
    font-family: 'Forum', cursive;
    letter-spacing: 2px;
    margin-bottom: 2em;
  }
  .portfolio .grid {
    display: grid;
    gap: 2em;
  }
  @media (min-width: 560px) {
    .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}
@media (min-width: 880px) {
  .portfolio .grid {
    align-content: center;
  grid-template-columns: repeat(3, 260px);
  justify-content: center;
}
}
  .portfolio figure {
    text-align: center;
  }
  .img-portfolio {
    height: 180px;
    width: 240px;
    object-fit: cover;
  }
  .outrosprojetos {
    color: rgba(255, 255, 255, 0.87);
    padding: 1em;
  }
  .outrosprojetos h2 {
    color: white;
    font-family: 'Forum', cursive;
    letter-spacing: 2px;
    margin-bottom: 1.2em;
  }
  .outrosprojetos .grid {
    display: grid;
    gap: 2em;
  }
@media (min-width: 560px) {
    .outrosprojetos .grid {
    grid-template-columns: repeat (2, 240px);
  }
}
@media (min-width: 880px) {
  .outrosprojetos .grid {
  align-content: center;
  grid-template-columns: repeat(3, 260px);
  justify-content: center;
}
}
  .outrosprojetos figure {
    text-align: center;
  }
  .img-portfolio {
    height: 180px;
    width: 240px;
    object-fit: cover;
  }